body {
  z-index: 10;
}
.post {
  margin-bottom: 100px;
  padding: 25px;
  -webkit-box-shadow: 0 0 14px rgba(202, 203, 203, 1);
  -moz-box-shadow: 0 0 14px rgba(202, 203, 203, 1);
  box-shadow: 0 0 14px rgba(202, 203, 203, 1);
  background-color: #fff;
}
.post-footer {
  display: none;
}
.post-button .btn {
  background-color: #fff;
  color: #222;
}